name: Purge Camo Cache

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */2 * * *'

jobs:
  purge-camo-cache:
    runs-on: ubuntu-latest

    steps:
      - name: Purge Camo Cache
        uses: Angrido/Purge-Camo-Cache@v1.3.0
